<div class="right"> <%= link_to 'トップページ', root_path, class: "btn btn-primary" %> <%= link_to '新規追加', new_book_path, class: "btn btn-primary" %> <%= link_to 'ブログ', blogs_path, class: "btn btn-primary" %> <%= link_to "CSV (SJIS)", books_path(format: :csv), class: "btn btn-primary" %>
  <% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% end %>
</div>
<br/>
<h2> さらしなにっき ~ にゃそこん２ ~ </h2>
<br/>
<% @blogs.each do |blog| %>
<p> 
<strong>
<h2><%= blog.days %></h2>
</strong>
</p>
<p> 
<strong>
<h3><%= blog.title %></h3>
</strong>
</p>
<p> <strong> <%= image_tag(blog.image.url) if blog.image.present? %> </strong> </p>
<p> 
<strong>
<div class="video-player"> <%= video_tag blog.video.url, autoplay: false, multiple: true, muted: false, controls: true , width: "50%", height: "50%" if blog.video.present? %> </div>
</strong>
</p>
<p> <strong>
  <% blog.images.each do |image| %>
  <%= image_tag image, class: "image" %>
  <% end %>
  </strong> </p>
<p><%= markdown(blog.memo).html_safe %></p>
<td><div align="left"><%= link_to '新規作成', new_blog_path, class: "btn btn-success btn-sm" %> <%= link_to '閲覧', blog, class: "btn btn-primary btn-sm" %> <%= link_to '編集', edit_blog_path(blog), class: "btn btn-info btn-sm" %> <%= link_to '削除', blog, method: :delete, data: { confirm: '記事を削除してもよろしいですか？' }, class: "btn btn-warning btn-sm" %></div></td>
<% end %>
<br/>
<%= link_to '一覧へ戻る', blogs_path, class: "btn btn-danger" %> <br/>
<div class="left"> <%= paginate @blogs %> </div>
<br/>
