<div class="right">
  <%= link_to 'トップページ', root_path, class: "btn btn-primary" %> <%= link_to '新規追加', new_book_path, class: "btn btn-primary" %> <%= link_to '図書室', books_url, class: "btn btn-primary" %> <%= link_to "CSV (SJIS)", books_path(format: :csv), class: "btn btn-primary" %>
  <% if user_signed_in? %><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <% end %>
</div>

<h2>さらしな日記 ~ nyasocom2編 ~ </h2>

<br />
<div class="left_search_icon">
  <p>表示 : <%= @blogs.count %> 行 (データ数)</p>
</div>
<br />

<div class="left_search">
  <ul><%= form_tag(blogs_path, method: "get") do %>
      <i class="fab fa-searchengin"></i> : <%= text_field_tag :search, '', placeholder: '題名を入力' %>
      <%= submit_tag '検索', :name => nil %>
    <% end %>
</div>

<br />

| <%= link_to '新しい記事を追加', new_blog_path %> | <%= link_to '投稿一覧へ', notification_list_path %> |

<br/>

<div class="left_blog">
  <table width="60%">
    <thead>
    <tr>
      <th><div align="center">日時</div></th>
      <th><div align="center">タイトル</div></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><div align="center"><%= blog.days %></div></td>
        <td><div align="center"><%= blog.title %></div></td>
        <td>
          <div align="right"><%= link_to '閲覧', blog, class: "btn btn-primary" %></div>
        </td>
        <td>
          <div align="center"><%= link_to '編集', edit_blog_path(blog), class: "btn btn-primary" %></div>
        </td>
        <td>
          <div align="left"><%= link_to '削除', blog, method: :delete, data: { confirm: '記事を削除してもよろしいですか？' }, class: "btn btn-primary" %></div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="left">
  <%= paginate @blogs %>
</div>

<br/>
<br/>
<br/>
