<h1>記事を閲覧</h1>
<p> <strong>日付: </strong> <%= @blog.days %> </p>
<p> <strong>タイトル: </strong> <%= @blog.title %> </p>
<p> <strong>本文: </strong> <%= markdown(@blog.memo).html_safe %> </p>
<p> <strong>写真: </strong> <%= image_tag(@blog.image.url) if @blog.image.present? %> </p>
<p> <strong>連続写真: </strong>
  <% @blog.images.each do |image| %>
  <%= image_tag image, class: "image" %>
  <% end %>
</p>
<p> <strong>音楽: </strong> <%= audio_tag(@blog.file) if @blog.file.present? %> </p>
<p>
<div class="video-player"> <strong>動画: </strong> <%= video_tag @blog.video.url, autoplay: false, multiple: true, muted: false, controls: true , width: "50%", height: "50%" if @blog.video.present? %> </div>
</p>
<%= link_to '編集', edit_blog_path(@blog), class: "btn btn-primary" %> <%= link_to '戻る', blogs_path, class: "btn btn-info" %> <%= link_to '投稿一覧', notification_list_path, class: "btn btn-success" %> <%= link_to('再読込', 'javascript:void(0);', onclick: "window.location.reload();", class: "btn btn-dark btn") %>